<!DOCTYPE html>
{% load static %}
<html lang="{{ LANGUAGE_CODE|default:"en" }}">
    <head>
        <title>Testproject</title>
        <meta charset="utf-8">
        <meta name="description" content="Testproject for django-tables2-column-shifter">
        <meta name="author" content="Grzegorz Tężycki">

        {# CSS for bootstrap #}
        {% block bootstrap_css %}
            <link rel="stylesheet" href="{% static "bootstrap3/css/bootstrap.min.css" %}"/>
        {% endblock %}

        {% block extra_head %}{% endblock extra_head %}

        <style>
            body {
                width : 90%;
                margin: 0 auto;
            }
        </style>
    </head>

    <body>
        {% block body %}
        {% endblock body %}

        {% block body_ekstra %}
            <script src="{% static "jquery/jquery3.min.js" %}"></script>

            {# Javascripts for bootstrap #}
            {% block bootstrap_js %}
            {% endblock %}

            {# !! --> JS for column_shifter #}
            <script
                type="text/javascript"
                src="{% static "django_tables2_column_shifter/js/django_tables2_column_shifter.min.js" %}">
            </script>
            <link
                rel="stylesheet"
                text="text/css"
                href="{% static "django_tables2_column_shifter/css/django_tables2_column_shifter.min.css" %}"
            >

        {% endblock body_ekstra %}
    </body>
</html>
